.App {
  text-align: center;
}


.App-header {
  /* background-color: #282c34; */
  background-color: #000000;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  /* color: #61dafb; */

  /* color: #ffffff; */
  /* color: rgb(4, 240, 44); */
  color: rgb(115, 248, 137);


  /* color: #bdeaf7; */
  /* color: #FF0000; */
  
}

